body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}


.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 100%; 
    flex-direction: row; 
}

.card {
    width: 20vw;
    height: 80vh;
    perspective: 1000px;
    flex: 0 0 auto; 
    position: relative;
}


.card-container.row .card {
    flex: 1; 
 
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;

    overflow: hidden; /* Ensures content does not overflow */
    border-radius: 10px; /* Optional: adds rounded corners to the card */
}

.card-front {
    background-color: transparent; /* No background color */
    color: #000; /* Change font color for better visibility */
   

}

.card-front img, .card-back img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: inherit; /* Inherit the border-radius from the card */
}

.card-back {
    transform: rotateY(180deg);
}

.card.flip .card-inner {
    transform: rotateY(180deg);
}

.card.full-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70vw;
    height: 70vh;
    transform: translate(-50%, -50%);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

@media (max-width: 786px) {
    .card-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .card{
        width: 80vw;
        height: 50vh;
    }
    #card1:not(.flip) {
        margin-top: 100vh;
    }
   
 
    .card.full-screen {

        width: 90vw;

     
    }

  

}
